resin-io-base-images
qtwebkit
qtconnectivity
qtdoc
qtlocation
qtscript
qtsensors
qtwebchannel
qtwebengine
qtwebsockets
qtandroidextras
qtactiveqt
qttools
qtxmlpatterns
qt3d
qtcanvas3d
qtserialport
qtwayland
qtgamepad
qtscxml

**/.git