[submodule "qtbase"]
	path = qtbase
	url = ../qtbase.git
	branch = 5.12.3_with_um_patches_r1
	status = essential
[submodule "qtsvg"]
	depends = qtbase
	path = qtsvg
	url = http://code.qt.io/qt/qtsvg.git
	branch = 5.12.3
	status = addon
[submodule "qtdeclarative"]
	depends = qtbase
	recommends = qtsvg
	path = qtdeclarative
	url = ../qtdeclarative.git
	branch = MISP-1132-potential-buster-branch-2
	status = essential
[submodule "qtactiveqt"]
	depends = qtbase
	path = qtactiveqt
	url = http://code.qt.io/qt/qtactiveqt.git
	branch = 5.12.3
	status = addon
[submodule "qtscript"]
	depends = qtbase
	recommends = qttools
	path = qtscript
	url = http://code.qt.io/qt/qtscript.git
	branch = 5.12.3
	status = deprecated
[submodule "qtmultimedia"]
	depends = qtbase
	recommends = qtdeclarative
	path = qtmultimedia
	url = http://code.qt.io/qt/qtmultimedia.git
	branch = 5.12.3
	status = essential
[submodule "qttools"]
	depends = qtbase
	recommends = qtdeclarative qtactiveqt
	path = qttools
	url = http://code.qt.io/qt/qttools.git
	branch = 5.12.3
	status = essential
[submodule "qtxmlpatterns"]
	depends = qtbase
	recommends = qtdeclarative
	path = qtxmlpatterns
	url = http://code.qt.io/qt/qtxmlpatterns.git
	branch = 5.12.3
	status = addon
[submodule "qttranslations"]
	depends = qttools
	path = qttranslations
	url = http://code.qt.io/qt/qttranslations.git
	branch = 5.12.3
	status = essential
	priority = 30
[submodule "qtdoc"]
	depends = qtdeclarative qttools
	recommends = qtmultimedia qtquickcontrols qtquickcontrols2
	path = qtdoc
	url = http://code.qt.io/qt/qtdoc.git
	branch = 5.12.3
	status = essential
	priority = 40
[submodule "qtrepotools"]
	path = qtrepotools
	url = http://code.qt.io/qt/qtrepotools.git
	branch = master
	status = essential
	project = -
[submodule "qtqa"]
	depends = qtbase
	path = qtqa
	url = http://code.qt.io/qt/qtqa.git
	branch = master
	status = essential
	priority = 50
[submodule "qtlocation"]
	depends = qtbase
	recommends = qtdeclarative qtquickcontrols qtquickcontrols2 qtserialport
	path = qtlocation
	url = http://code.qt.io/qt/qtlocation.git
	branch = 5.12.3
	status = addon
[submodule "qtsensors"]
	depends = qtbase
	recommends = qtdeclarative
	path = qtsensors
	url = http://code.qt.io/qt/qtsensors.git
	branch = 5.12.3
	status = addon
[submodule "qtsystems"]
	depends = qtbase
	recommends = qtdeclarative
	path = qtsystems
	url = http://code.qt.io/qt/qtsystems.git
	branch = dev
	status = ignore
[submodule "qtfeedback"]
	depends = qtdeclarative
	recommends = qtmultimedia
	path = qtfeedback
	url = http://code.qt.io/qt/qtfeedback.git
	branch = master
	status = ignore
[submodule "qtdocgallery"]
	depends = qtdeclarative
	path = qtdocgallery
	url = http://code.qt.io/qt/qtdocgallery.git
	branch = master
	status = ignore
[submodule "qtpim"]
	depends = qtdeclarative
	path = qtpim
	url = http://code.qt.io/qt/qtpim.git
	branch = dev
	status = ignore
[submodule "qtconnectivity"]
	depends = qtbase
	recommends = qtdeclarative qtandroidextras
	path = qtconnectivity
	url = http://code.qt.io/qt/qtconnectivity.git
	branch = 5.12.3
	status = addon
[submodule "qtwayland"]
	depends = qtbase
	recommends = qtdeclarative
	path = qtwayland
	url = http://code.qt.io/qt/qtwayland.git
	branch = 5.12.3
	status = addon
[submodule "qt3d"]
	depends = qtbase
	recommends = qtdeclarative qtimageformats qtgamepad
	path = qt3d
	url = http://code.qt.io/qt/qt3d.git
	branch = 5.12.3
	status = addon
[submodule "qtimageformats"]
	depends = qtbase
	path = qtimageformats
	url = http://code.qt.io/qt/qtimageformats.git
	branch = 5.12.3
	status = addon
[submodule "qtgraphicaleffects"]
	depends = qtdeclarative
	path = qtgraphicaleffects
	url = http://code.qt.io/qt/qtgraphicaleffects.git
	branch = 5.12.3
	status = addon
[submodule "qtquickcontrols"]
	depends = qtdeclarative
	recommends = qtgraphicaleffects
	path = qtquickcontrols
	url = http://code.qt.io/qt/qtquickcontrols.git
	branch = 5.12.3
	status = addon
[submodule "qtserialbus"]
	depends = qtserialport
	path = qtserialbus
	url = http://code.qt.io/qt/qtserialbus.git
	branch = 5.12.3
	status = addon
[submodule "qtserialport"]
	depends = qtbase
	path = qtserialport
	url = http://code.qt.io/qt/qtserialport.git
	branch = 5.12.3
	status = addon
[submodule "qtx11extras"]
	depends = qtbase
	path = qtx11extras
	url = http://code.qt.io/qt/qtx11extras.git
	branch = 5.12.3
	status = addon
[submodule "qtmacextras"]
	depends = qtbase
	path = qtmacextras
	url = http://code.qt.io/qt/qtmacextras.git
	branch = 5.12.3
	status = addon
[submodule "qtwinextras"]
	depends = qtbase
	recommends = qtdeclarative qtmultimedia
	path = qtwinextras
	url = http://code.qt.io/qt/qtwinextras.git
	branch = 5.12.3
	status = addon
[submodule "qtandroidextras"]
	depends = qtbase
	path = qtandroidextras
	url = http://code.qt.io/qt/qtandroidextras.git
	branch = 5.12.3
	status = addon
[submodule "qtwebsockets"]
	depends = qtbase
	recommends = qtdeclarative
	path = qtwebsockets
	url = http://code.qt.io/qt/qtwebsockets.git
	branch = 5.12.3
	status = addon
[submodule "qtwebchannel"]
	depends = qtbase
	recommends = qtdeclarative qtwebsockets
	path = qtwebchannel
	url = http://code.qt.io/qt/qtwebchannel.git
	branch = 5.12.3
	status = addon
[submodule "qtwebengine"]
	depends = qtdeclarative
	recommends = qtquickcontrols qtquickcontrols2 qtlocation qtwebchannel qttools
	path = qtwebengine
	url = http://code.qt.io/qt/qtwebengine.git
	branch = 5.12.3
	status = addon
	priority = 10
[submodule "qtcanvas3d"]
	depends = qtdeclarative
	path = qtcanvas3d
	url = http://code.qt.io/qt/qtcanvas3d.git
	branch = 5.12.3
	status = addon
[submodule "qtwebview"]
	depends = qtdeclarative
	recommends = qtwebengine
	path = qtwebview
	url = http://code.qt.io/qt/qtwebview.git
	branch = 5.12.3
	status = addon
[submodule "qtquickcontrols2"]
	depends = qtgraphicaleffects
	recommends = qtimageformats
	path = qtquickcontrols2
	url = http://code.qt.io/qt/qtquickcontrols2.git
	branch = 5.12.3
	status = essential
[submodule "qtpurchasing"]
	depends = qtbase
	recommends = qtdeclarative qtandroidextras
	path = qtpurchasing
	url = http://code.qt.io/qt/qtpurchasing.git
	branch = 5.12.3
	status = addon
[submodule "qtcharts"]
	depends = qtbase
	recommends = qtdeclarative qtmultimedia
	path = qtcharts
	url = http://code.qt.io/qt/qtcharts.git
	branch = 5.12.3
	status = addon
[submodule "qtdatavis3d"]
	depends = qtbase
	recommends = qtdeclarative qtmultimedia
	path = qtdatavis3d
	url = http://code.qt.io/qt/qtdatavis3d.git
	branch = 5.12.3
	status = addon
[submodule "qtvirtualkeyboard"]
	depends = qtbase qtdeclarative qtsvg
	recommends = qtmultimedia qtquickcontrols
	path = qtvirtualkeyboard
	url = http://code.qt.io/qt/qtvirtualkeyboard.git
	branch = 5.12.3
	status = addon
[submodule "qtgamepad"]
	depends = qtbase
	recommends = qtdeclarative
	path = qtgamepad
	url = http://code.qt.io/qt/qtgamepad.git
	branch = 5.12.3
	status = addon
[submodule "qtscxml"]
	depends = qtbase qtdeclarative
	path = qtscxml
	url = http://code.qt.io/qt/qtscxml.git
	branch = 5.12.3
	status = addon
[submodule "qtspeech"]
	depends = qtbase
	recommends = qtdeclarative qtmultimedia
	path = qtspeech
	url = http://code.qt.io/qt/qtspeech.git
	branch = 5.12.3
	status = addon
[submodule "qtnetworkauth"]
	depends = qtbase
	path = qtnetworkauth
	url = http://code.qt.io/qt/qtnetworkauth.git
	branch = 5.12.3
	status = addon
[submodule "qtremoteobjects"]
	depends = qtbase
	recommends = qtdeclarative
	path = qtremoteobjects
	url = http://code.qt.io/qt/qtremoteobjects.git
	branch = 5.12.3
	status = addon
[submodule "qtwebglplugin"]
	depends = qtbase qtwebsockets
	recommends = qtdeclarative
	path = qtwebglplugin
	url = http://code.qt.io/qt/qtwebglplugin.git
	branch = 5.12.3
	status = addon
