[General]
arch=arm64
noauth=true
unpack=true
explicitsuite=true
aptsources=Debian
bootstrap=Debian DebianStable

# When 'true', multistrap will *not* download packages that are 'Priority: required', otherwise it will override
# those specific package versions from your recipe file.
# Set this value to 'false' if you intend to use wildcard values in your recipe.
omitrequired=true

[DebianStable]
packages=libgles-dev  
packages=perl pkg-config debconf libxkbcommon-dev
packages=python3-dev python3-sip-dev libssl-dev
source=http://ftp.debian.org/debian
suite=bookworm
components=main non-free
omitdebsrc=true

